<view class="container">
  <view class="page-body">
    <view class="page-section page-section-spacing swiper">
      <swiper class="swiper-block" interval="3000" circular="true" autoplay="true" current="0" bindchange="swiperChange" previous-margin="42rpx" next-margin="42rpx">
        <block wx:for="{{imgUrls}}" wx:index="{{index}}">
          <swiper-item class="swiper-item">
            <image mode="aspectFill" src="{{item}}" class="slide-image {{swiperIndex == index ? 'active' : ''}}" />
          </swiper-item>
        </block>
      </swiper>
      <view class="dots">
        <block wx:for="{{imgUrls}}" wx:index="{{index}}">
          <view class="dot {{swiperIndex == index ? 'active' : ''}}"></view>
        </block>
      </view>
    </view>
  </view>
</view>
<!-- previous-margin="90rpx" next-margin="90rpx" -->